body {
  font-family: "Poppins";
  color: white !important;
  height: 100%;
  margin: 0;
  /* to prevent overlap with map */
}

/* .nav {
  background-color: #fe424e;
  height: 70px;
color: white !important; 
}
*/

.navbar-brand,
.navbar-nav,
.nav-link {
  color: rgb(93, 88, 88) !important;
}

.blockchain-btn {
  background-color: #fe424e !important;
  color: black !important;
  border-radius: 2rem;
  padding: 0.5rem 1rem;
  font-size: 0.85rem;
  width: 100%;
}

.time {
  margin-bottom: 2rem !important;
}

.incident-card {
  position: absolute;
  top: 200px;
  left: 500px;
  z-index: 1100;
  background-color: #f6f6f6;
  border-radius: 1.5rem;
  padding: 1.5rem;
  /* height: 380px !important; */
  max-width: 22rem !important;
  width: 90%;
  align-items: center;
  margin: 1rem auto;
  color: black;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.report-id {
  font-size: 0.8rem;
  color: gray;
  /* align-self: self-start; */
}

.incident-card-images {
  display: flex;
  gap: 0.5rem;
  overflow-x: auto;
  /* justify-content: center;
  align-items: center; */
  /* margin-bottom: 40px; */
}

.incident-card-images img {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  border-radius: 0.5rem;
}

.card-body {
  padding: 0;
}

.card-text {
  margin-bottom: 0.3rem;
  font-size: 0.9rem;
}

.btn-close {
  margin-left: 1.45rem !important;
}

.side-panel {
  background-color: white;
  color: black;
  border-radius: 30px;
  position: fixed;
  width: 18rem;
  height: calc(100vh - 70px);
  top: 70px;
  /* bottom: 10px; */
  right: -300px;
  z-index: 1100;
  transition: 0.3s;
}

.side-panel.open {
  right: 10px;
}

#map {
  /* position: fixed;
  top: 70px; /* navbar height */
  left: 0;
  width: 100%;
  height: 100vh;
  /* z-index: 0; */
}

.side-panel h5 {
  color: rgba(33, 37, 41, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
}

/* glass navbar  */
.glass-nav {
  background: rgba(255, 255, 255, 0.1); /*transparent*/
  backdrop-filter: blur(10px); /* blur effect */
  -webkit-backdrop-filter: blur(10px); /* Safari support */

  border-bottom: 1px solid rgba(255, 255, 255, 0.2);

  height: 90px;
  padding: 0 1rem;
}

/* Hover effect (nice touch) */
.nav-link:hover {
  color: #ffdede !important;
}

.list-group-description {
  font-size: 0.8rem;
}
